<div class="main-container">
  <div class="classifier-card">
    <h1 class="app-title">Article Classifier Web</h1>
    <div class="input-type-selector">
      <label for="inputType">Select input type:</label>
      <select id="inputType" class="input-select" [(ngModel)]="selectedInputType">
        <option value="text">Free Text</option>
        <option value="file">File Upload</option>
      </select>
    </div>

    <div *ngIf="selectedInputType === 'text'" class="text-input-container">
      <textarea class="text-input" [(ngModel)]="textInput" placeholder="Enter text here..."></textarea>
    </div>

    <div *ngIf="selectedInputType === 'file'" class="file-input-container">
      <input type="file" class="file-input" (change)="onFileSelected($event)">
    </div>

    <button class="predict-button" (click)="predictCategory()">Predict Category</button>

    <div class="categories">
      <span class="category" [class.highlighted]="predictedCategory === 'Computer Science'">Computer Science</span>
      <span class="category" [class.highlighted]="predictedCategory === 'Physics'">Physics</span>
      <span class="category" [class.highlighted]="predictedCategory === 'Physics'">Mathematics</span>
      <span class="category" [class.highlighted]="predictedCategory === 'Physics'">Statistics</span>
      <span class="category" [class.highlighted]="predictedCategory === 'Physics'">Quantitative Biology</span>
      <span class="category" [class.highlighted]="predictedCategory === 'Physics'">Biology</span>
    </div>
  </div>
</div>
